.portfoliocard {
    height: 300px;
    width: 250px;
    background-color: transparent;
    perspective: 1000px;
    margin-left: 100px;
}

.portfolio {
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.portfolioimg {
    height: 300px;
    width: 250px;
}

.portfolio-front,
.portfolio-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.portfolio-back {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    background-color: chocolate;
    color: white;
}

.portfoliocard:hover .portfolio {
    /* transform: rotateY(540deg); */
    animation: flipimg 2s forwards;
}

@keyframes flipimg {
    20% {
        transform: rotateY(-45deg);
    }

    40% {
        transform: rotateY(45deg);
    }

    60% {
        transform: rotateY(-15deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}